<h2>Team: <%= @team.league %></h2>
<a href="/teams/<%= @team.id %>/players">Players</a>
<p>Roster: <%= @team.roster %></p>
<p>Coach?: <%= @team.coach %></p>
<p>Number of Players: <%= @team.number_of_players %></p>
<a href="/teams/<%= @team.id %>/edit">Update Team</a>
<%= link_to "Delete Team", "/teams/#{@team.id}", method: :delete %>