<h1><%= @golf_course.name %></h1>
<a href="/golf_courses/<%= @golf_course.id %>/holes">Holes</a>
<p>Number of Holes: <%= @golf_course.hole_count %></p>
<p>Public Course? <%= @golf_course.public %></p>
<p>Holes Added: <%= @golf_course.hole_record_count %> </p>
<%= link_to "Update Golf Course", "/golf_courses/#{@golf_course.id}/edit" %>
<%= link_to "Delete Golf Course", "/golf_courses/#{@golf_course.id}", method: :delete %>