<h1>Holes</h1>
<% @holes.each do |hole| %>
<p><%= hole.name %>
<%= link_to "Edit", "/holes/#{hole.id}/edit" %>
<%= link_to "Delete", "/holes/#{hole.id}", method: :delete %><br>
Par: <%= hole.par %><br>
Hazards? <%= hole.hazard %>
</p>
<% end %>



