<h1><%= @course.name %></h1>
<a href="/golf_courses/<%= @course.id %>/holes/new">Create New Hole</a>
<br>
<%= link_to "Sort Alphabetically", :sort => :name %>
<% @golf_course_holes.each do |hole| %>
    <p>
    Hole Name: <%= hole.name %> <br>
    Par: <%= hole.par %> <br>
    Hazards? <%= hole.hazard %> <br>
    <%= link_to "Edit", "/holes/#{hole.id}/edit" %></p>
<% end %>