<h1><%= @team.league %></h1>
<a href="/teams/<%= "#{@team.id}" %>/players/new">New Player</a>
<%= link_to "Alphabetize", :sort => :name %>
<%= link_to "Numberize", :sort => :number %>
<% @team_players.each do |player| %>
  <h3>Player: <%= player.name %></h3>
  <p>Number: <%= player.number %></p>
  <p>Injured?: <%= player.injured %></p>
  <p><%= link_to "Edit", "/players/#{player.id}/edit" %></p>
<% end %>
<%= form_with url: "/teams/#{@team.id}/players", method: :get, local: true do |form| %>
  <p><%= form.label "Only return records with jersey number greater than:"%>
  <%= form.number_field :number %>
  <%= form.submit "Submit"%>
  </p>
<% end %>