<% @players.each do |player| %>
  <h3><%= player.name %></h3>
  <p>Number: <%= player.number %></p>
  <p>Injured?: <%= player.injured %></p>
  <%= link_to "Edit", "/players/#{player.id}/edit" %>
  <%= link_to "Delete", "/players/#{player.id}", method: :delete %>
<% end %>
