<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/golf_courses">Golf Course Index</a>
    <a href="/teams">Team Index</a>
    <a href="/holes">Hole Index</a>
    <a href="/players">Player Index</a>
    <%= yield %>
  </body>
</html>
